.container {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  .content {
    border-top: 1px solid #fcac45;
    padding: 50px 0 20px;
    width: 1200px;
  }
  .footer_items {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    list-style-type: none;
  }
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .title {
    font-family: "Italianno", sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .text {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .line {
    height: 1px;
    width: 30px;
    background-color: #fcac45;
  }
  .location {
    gap: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .hours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 21px;
  }
  .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
  }
  .link {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    color: black;
    transition: 0.25s all ease-in-out;
    &:hover {
      border-bottom: 1px solid #fcac45;
    }
  }
  .vertical_line {
    width: 1px;
    height: 165px;
    background-color: #fcac45;
  }
  .copyright {
    text-align: center;
    margin-top: 50px;
    margin-left: 70px;
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
